<div class="widget">
  <div class="widget-header">
    <i class="fa fa-users"></i> Contacts ({{filtered.length}})
    <button type="button" class="btn btn-sm btn-success pull-right" ng-click="crud.fn.create()" style="margin-left: 10px;"><i class="fa fa-plus"></i> New contact</button>
    <input type="text" class="form-control input-sm pull-right" placeholder="Search ..." ng-model="search">
    <div class="clearfix"></div>
  </div>
  <div class="widget-body no-padding">
    <rd-loading ng-show="crud.data.status.loading && !(crud.data.elts && crud.data.elts.length > 0)"></rd-loading>
    <div class="alert alert-danger" role="alert" ng-show="crud.data.status.error"><strong>Error!</strong> {{crud.data.status.error}}</div>
    <div class="table-responsive" ng-show="crud.data.elts && crud.data.elts.length > 0">
      <table class="table table-hover">
        <thead>
          <tr>
            <th class="no-select" ng-click="fn.toggleAll()"><i class="fa" ng-class="{'fa-square-o': fn.isNoneSelected(), 'fa-check-square-o': fn.isAllSelected(), 'fa-minus-square-o': fn.isSomeSelected()}"></i></th>
            <th sort="crud.data.currentSort" name="status" ng-click="crud.fn.sort('status')">Status</th>
            <th></th>
            <th sort="crud.data.currentSort" name="lastName" ng-click="crud.fn.sort('lastName')">Name</th>
            <th sort="crud.data.currentSort" name="accountId" ng-click="crud.fn.sort('accountId')">Account</th>
            <th>Contact</th>
            <th>Social</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="elt in filtered = (crud.data.elts | filter:search)" ng-click="fn.toggleElt(elt)" ng-class="{active: crud.data.selectedElt && elt.objectId === crud.data.selectedElt.objectId}">
            <td class="no-select" style="min-width: 33px;"><i class="fa {{fn.isSelected(elt) ? 'fa-check-square-o' : 'fa-square-o'}}"></i></td>
            <td>
              <span class="label" ng-class="{'label-danger': elt.status === 'target', 'label-info': elt.status === 'contact', 'label-warning': elt.status === 'prospect', 'label-success': elt.status === 'client'}">
                <i class="fa fa-circle" ng-show="elt.active"></i>
                <i class="fa fa-circle-o" ng-show="!elt.active"></i>
                {{elt.status}}
              </span>
            </td>
            <td><div ng-bind-html="trustHtml(elt.currentStatusHTML)"></div></td>
            <td><img ng-src="{{elt.image}}" style="height: 34px; margin-top: -8px; margin-bottom: -8px;"> {{elt.firstName}} {{elt.lastName}}</td>
            <td><account-name id="elt.accountId"></account-name></td>
            <td><a href="mailto:{{elt.email}}">{{elt.email}}</a> {{elt.phone | phone}}</td>
            <td>
              <a ng-href="{{elt.social.linkedin.url}}" target="linkedin" ng-show="elt.social.linkedin"><i class="fa fa-linkedin"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>